@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-black: #1a151b;
    --color-white: #f5f0e5;
    --color-gray: #5dadb3;
    --color-brand-primary: #e6e6e5;
    --color-brand-secondary: #3b7f5c;
    --color-brand-tertiary: #242429;
  }

  .dark {
    --color-black: #1a151b;
    --color-white: #f5f0e5;
    --color-gray: #5dadb3;
    --color-brand-primary: #242429;
    --color-brand-secondary: #55ffa7;
    --color-brand-tertiary: #f6f6f6;
  }

  h1 {
    @apply text-7xl;
  }
  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-4xl text-brand-secondary font-display;
  }

  p {
    @apply leading-relaxed lg:text-xl;
  }

  a {
    @apply text-brand-secondary;
  }
}

@layer components {
}
@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
